<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarblur">
      <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dados cadastrais de pessoa f&iacute;sica
                      ou jur&iacute;dica</li>
              </ol>
              <h6 class="font-weight-bolder mb-0">Cadastro</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                  <div class="input-group">
                      <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" placeholder="pesquisar">
                  </div>
              </div>
              <ul class="navbar-nav  justify-content-end">
                  <li class="nav-item d-flex align-items-center">
                      <!-- <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank" href="https://www.creative-tim.com/builder?ref=navbar-soft-ui-dashboard">Online builder</a> -->
                  </li>
                  <li class="nav-item d-flex align-items-center">
                      <a href="profile.html" class="nav-link text-body font-weight-bold px-0">
                          <i class="fa fa-user me-sm-1"></i>
                      </a>
                  </li>
                  <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                      <a href="javascript:;" class="nav-link text-body p-0" id="iconnavbarsidenav">
                          <div class="sidenav-toggler-inner">
                              <i class="sidenav-toggler-line"></i>
                              <i class="sidenav-toggler-line"></i>
                              <i class="sidenav-toggler-line"></i>
                          </div>
                      </a>
                  </li>
                  <li class="nav-item px-3 d-flex align-items-center">
                      <a href="javascript:;" class="nav-link text-body p-0">
                          <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                      </a>
                  </li>
                  <li class="nav-item dropdown pe-2 d-flex align-items-center">
                      <a href="javascript:;" class="nav-link text-body p-0" id="dropdownmenubutton" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-bell cursor-pointer"></i>
                      </a>
                      <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownmenubutton">
                          <li class="mb-2">
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                  <div class="d-flex py-1">
                                      <div class="my-auto">
                                          <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                          <h6 class="text-sm font-weight-normal mb-1">
                                              <span class="font-weight-bold">New message</span> from Laur
                                          </h6>
                                          <p class="text-xs text-secondary mb-0 ">
                                              <i class="fa fa-clock me-1"></i>
                                              13 minutes ago
                                          </p>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="mb-2">
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                  <div class="d-flex py-1">
                                      <div class="my-auto">
                                          <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                          <h6 class="text-sm font-weight-normal mb-1">
                                              <span class="font-weight-bold">New album</span> by travis scott
                                          </h6>
                                          <p class="text-xs text-secondary mb-0 ">
                                              <i class="fa fa-clock me-1"></i>
                                              1 day
                                          </p>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                  <div class="d-flex py-1">
                                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                                          <svg width="12px" height="12px" viewbox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                              <title>credit-card</title>
                                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                  <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                      <g transform="translate(1716.000000, 291.000000)">
                                                          <g transform="translate(453.000000, 454.000000)">
                                                              <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                                              <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                                              </path>
                                                          </g>
                                                      </g>
                                                  </g>
                                              </g>
                                          </svg>
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                          <h6 class="text-sm font-weight-normal mb-1">
                                              payment successfully completed
                                          </h6>
                                          <p class="text-xs text-secondary mb-0 ">
                                              <i class="fa fa-clock me-1"></i>
                                              2 days
                                          </p>
                                      </div>
                                  </div>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- End navbar -->
  <div class="container-fluid py-4">
      <div class="row">
          <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                  <ul class="nav nav-pills nav-fill p-2 bg-transparent" role="tablist">
                      <li class="nav-item" ng-click="selecttab(1)" ng-class="{active: isselected(1)}">
                          <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                              <span class="ms-1">pessoa Jur&iacute;dica</span> <img src="/assets/img/check.png">
                          </a>
                      </li>
                      <li class="nav-item" ng-click="selecttab(2)" ng-class="{active: isselected(2)}">
                          <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                              <span class="ms-1">pessoa F&iacute;sica <img src="/assets/img/check.png">
                              </span></a>
                      </li>
                      <li class="nav-item" ng-click="selecttab(3)" ng-class="{active: isselected(3)}">
                          <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                              <span class="ms-1">Documentos <img src="/assets/img/check.png">
                              </span></a>
                      </li>
                      <li class="nav-item" ng-click="selecttab(4)" ng-class="{active: isselected(4)}">
                          <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                              <span class="ms-1">Canais <img src="/assets/img/check.png">
                              </span></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-5"></div>
          <!-- pessoa Jur&iacute;dica -->
          <div class="col-12 tab-content" ng-class="{active: isselected(1)}">
              <div class="card mb-2">
                  <div class="card-body">
                      <div class="row">
                          <div id="alertasucesso" class="alert alert-success" role="alert" style="display: none;">
                              <strong>sucesso!</strong> seus dados foram salvos!
                          </div>
                          <div class="col-12 col-md-6">
                              <form>
                                  <label>pessoa Jur&iacute;dica *</label>
                                  <div class="mb-3">
                                      <input type="text" id="juridicopessoajuridica" class="form-control" placeholder="Digite a pessoa jur&iacute;dica" required>
                                  </div>
                                  <label>CNpJ *</label>
                                  <div class="mb-3">
                                      <input type="text" id="juridicocnpj" class="form-control" oninput="formatarCNpJ(this)" maxlength="18" placeholder="Digite o CNpJ" aria-label="password" aria-describedby="password-addon" required>
                                  </div>
                              </form>
                          </div>
                          <div class="col-12 col-md-6 mb-3">
                              <label>Raz&atilde;o social *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicorazao" class="form-control" placeholder="Digite a raz&atilde;o social" aria-label="email" aria-describedby="email-addon" required>
                              </div>
                              <label>inscri&ccedil;&atilde;o Municipal *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicoinscricao" class="form-control" placeholder="Digite a sua inscri&ccedil;&atilde;o municipal" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-4"></div>
                          <div class="col-12 col-md-3 pb-0" style="text-align: center;">
                              <h6>Representante Legal</h6>
                          </div>
                          <div class="col-4 mb-5"></div>
                          <div class="col-12 col-md-6">
                              <label>Nome Completo *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridiconome" class="form-control" placeholder="Nome completo do representante" aria-label="email" aria-describedby="email-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-3">
                              <label>RG *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicorg" class="form-control" oninput="formatarRG(this)" maxlength="13" placeholder="RG do representante" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>

                          <div class="col-12 col-md-3">
                              <label>CpF *</label>
                              <div class="mb-3">
                                  <input id="juridicocpf" type="text" maxlength="14" class="form-control" placeholder="CpF do representante" oninput="formatarCpF(this)" ui-mask="999.999.999-99" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>

                          <div class="col-12 col-md-7">
                              <label>Rua/Logradouro *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicorua" class="form-control" placeholder="Digite a rua e/ou logradouro" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-5">
                              <label>Cidade *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicocidade" class="form-control" placeholder="Cidade do representante" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>Estado *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicoestado" class="form-control" placeholder="Estado do representante" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>pa&iacute;s *</label>
                              <div class="mb-3">
                                  <input type="text" id="juridicopais" class="form-control" placeholder="pais do representante" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>CEp *</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" id="juridicocep" placeholder="CEp do representante" oninput="formatarCEp(this)" maxlength="10" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-2">
                              <label>Celular 1 *</label>
                              <div class="mb-3">
                                  <input type="text" maxlength="15" id="juridicocelular1" oninput="formatartelefone(this)" class="form-control" placeholder="Digite o n&uacute;mero" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-2">
                              <label>Celular 2</label>
                              <div class="mb-3">
                                  <input type="text" maxlength="15" oninput="formatartelefone(this)" class="form-control" placeholder="Digite o n&uacute;mero" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-2">
                              <label>Telefone</label>
                              <div class="mb-3">
                                  <input type="text" maxlength="14" class="form-control" placeholder="Digite o n&uacute;mero" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-6">
                              <label>E-mail *</label>
                              <div class="mb-3">
                                  <input type="email" class="form-control" placeholder="E-mail do representante" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>

                          <div class="col-4 mt-5"></div>
                          <div class="col-12 col-md-3 pb-0" style="text-align: center;">
                              <h6>principais Redes sociais</h6>
                          </div>
                          <div class="col-4 mb-5"></div>

                          <div class="col-12 col-md-4">
                              <label>
                                  <img style="width: 10% !important; height: 10% !important;" src="../assets/img/small-logos/instagram.png" class="avatar avatar-sm rounded-circle me-0">
                                  &nbsp;&nbsp;instagram</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="@ ou link" value="@" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>
                                  <img style="width: 6% !important; height: 6% !important;" src="../assets/img/small-logos/facebook.png" class="avatar avatar-sm rounded-circle me-0">
                                  &nbsp;&nbsp;Facebook</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="@ ou link" value="@" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>

                          <div class="col-12 col-md-4">
                              <label>site</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="https://seusite.com" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-4"></div>
                          <div class="col-4">
                              <button type="button" onclick="salvarform()" ng-disabled="cadastroform.$invalid" class="btn bg-gradient-info w-100 mt-7 mb-0">salvar</button>

                          </div>
                          <div class="col-4"></div>

                      </div>

                  </div>
              </div>
          </div>
          <!-- pessoa Fisica -->
          <div class="col-12 tab-content" ng-class="{active: isselected(2)}">
              <div class="card mb-2">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12 col-md-4">
                              <form name="cadastroFisicoform">
                                  <label>Nome Completo *</label>
                                  <div class="mb-3">
                                      <input type="text" class="form-control" placeholder="Digite o nome completo" aria-label="email" aria-describedby="email-addon" required>
                                  </div>
                                  <label>Estado Civil *</label>
                                  <div class="form-group">
                                      <select class="form-control">
                                          <option value="" selected></option>
                                          <option value="">Casado(a)</option>
                                          <option value="">Vi&uacute;vo(a)</option>
                                          <option value="">uni&atilde;o Est&aacute;vel</option>
                                          <option value="">divorciado(a)</option>
                                          <option value="">solteiro(a)</option>
                                      </select>
                                  </div>
                              </form>
                          </div>
                          <div class="col-12 col-md-4 mb-3">
                              <label>RG *</label>
                              <div class="mb-3">
                                  <input type="text" maxlength="13" oninput="formatarRG(this)" class="form-control" placeholder="Digite o RG" aria-label="email" aria-describedby="email-addon" required>
                              </div>
                              <label>data de Nascimento *</label>
                              <div class="mb-3">
                                  <input type="date" class="form-control" placeholder="" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4 mb-3">
                              <label>CpF *</label>
                              <div class="mb-3">
                                  <input type="text" maxlength="14" class="form-control" oninput="formatarCpF(this)" placeholder="Digite o CpF" aria-label="email" aria-describedby="email-addon" required>
                              </div>
                          </div>

                          <div class="col-12 col-md-7">
                              <label>Rua/Logradouro *</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Digite a sua rua/logradouro" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-5">
                              <label>Cidade *</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Digite a cidade" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>Estado *</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Digite o estado" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>pa&iacute;s *</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Digite o pa&iacute;s" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>CEp *</label>
                              <div class="mb-3">
                                  <input type="text" oninput="formatarCEp(this)" maxlength="10" class="form-control" placeholder="Digite o CEp" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-2">
                              <label>Celular 1 *</label>
                              <div class="mb-3">
                                  <input type="text" oninput="formatartelefone(this)" class="form-control" placeholder="Digite o n&uacute;mero" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-2">
                              <label>Celular 2 *</label>
                              <div class="mb-3">
                                  <input type="text" oninput="formatartelefone(this)" class="form-control" placeholder="Digite o n&uacute;mero" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-2">
                              <label>Telefone *</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="Digite o n&uacute;mero" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-6">
                              <label>E-mail *</label>
                              <div class="mb-3">
                                  <input type="email" class="form-control" placeholder="Digite o e-mail" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>

                          <div class="col-4 mt-5"></div>
                          <div class="col-12 col-md-3 pb-0" style="text-align: center;">
                              <h6>principais Redes sociais</h6>
                          </div>
                          <div class="col-4 mb-5"></div>

                          <div class="col-12 col-md-4">
                              <label>
                                  <img style="width: 10% !important; height: 10% !important;" src="../assets/img/small-logos/instagram.png" class="avatar avatar-sm rounded-circle me-0">
                                  &nbsp;&nbsp;instagram</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="@ ou link" value="@" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>
                                  <img style="width: 6% !important; height: 6% !important;" src="../assets/img/small-logos/facebook.png" class="avatar avatar-sm rounded-circle me-0">
                                  &nbsp;&nbsp;Facebook</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="@ ou link" value="@" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>
                                  <img style="width: 10% !important; height: 10% !important;" src="../assets/img/small-logos/tiktok.png" class="avatar avatar-sm rounded-circle me-0">
                                  &nbsp;&nbsp;TikTok</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="@ ou link" value="@" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-12 col-md-4">
                              <label>
                                  <img style="width: 10% !important; height: 10% !important;" src="../assets/img/small-logos/kwai.png" class="avatar avatar-sm rounded-circle me-0">
                                  &nbsp;&nbsp;Kwai</label>
                              <div class="mb-3">
                                  <input type="text" class="form-control" placeholder="@ ou link" value="@" aria-label="password" aria-describedby="password-addon" required>
                              </div>
                          </div>
                          <div class="col-4">
                              <button type="button" ng-disabled="cadastroFisicoform.$invalid" class="btn bg-gradient-info w-100 mt-7 mb-0">salvar</button>

                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <!-- Documentos -->
          <div class="col-12 tab-content" ng-class="{active: isselected(3)}">
              <div class="card mb-2">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12 col-md-3">
                              <label for="contratosocial">Contrato social</label>
                              <label class="picture" tabindex="0">
                                  <span class="picture__image" id="contratosocialpreview">Fa&ccedil;a o upload aqui</span>
                                  <input type="file" name="picture__input" id="contratosocial" class="picture__input" onchange="previewFile('contratosocial', 'contratosocialpreview', 'removeContratosocial')">
                              </label>
                              <button class="btn bg-gradient-warning w-100 mb-0" type="button" id="removeContratosocial" style="display:none;" onclick="removeFile('contratosocial', 'contratosocialpreview', 'removeContratosocial')">Remover</button>
                          </div>

                          <div class="col-12 col-md-3">
                              <label for="cnpj">CNpJ</label>
                              <label class="picture" tabindex="0">
                                  <span class="picture__image" id="cnpjpreview">Fa&ccedil;a o upload aqui</span>
                                  <input type="file" name="picture__input" id="cnpj" class="picture__input" onchange="previewFile('cnpj', 'cnpjpreview', 'removeCnpj')">
                              </label>
                              <button class="btn bg-gradient-warning w-100 mb-0" type="button" id="removeCnpj" style="display:none;" onclick="removeFile('cnpj', 'cnpjpreview', 'removeCnpj')">Remover</button>
                          </div>

                          <div class="col-12 col-md-3">
                              <label for="rgCpfCnh">RG, CpF ou CNH</label>
                              <label class="picture" tabindex="0">
                                  <span class="picture__image" id="rgCpfCnhpreview">Fa&ccedil;a o upload aqui</span>
                                  <input type="file" name="picture__input" id="rgCpfCnh" class="picture__input" onchange="previewFile('rgCpfCnh', 'rgCpfCnhpreview', 'removeRgCpfCnh')">
                              </label>
                              <button class="btn bg-gradient-warning w-100 mb-0" type="button" id="removeRgCpfCnh" style="display:none;" onclick="removeFile('rgCpfCnh', 'rgCpfCnhpreview', 'removeRgCpfCnh')">Remover</button>
                          </div>

                          <div class="col-12 col-md-3">
                              <label for="comprovanteResidencia">Comprovante de resid&ecirc;ncia</label>
                              <label class="picture" tabindex="0">
                                  <span class="picture__image" id="comprovanteResidenciapreview">Fa&ccedil;a o upload aqui</span>
                                  <input type="file" name="picture__input" id="comprovanteResidencia" class="picture__input" onchange="previewFile('comprovanteResidencia', 'comprovanteResidenciapreview', 'removeComprovanteResidencia')">
                              </label>
                              <button class="btn bg-gradient-warning w-100 mb-0" type="button" id="removeComprovanteResidencia" style="display:none;" onclick="removeFile('comprovanteResidencia', 'comprovanteResidenciapreview', 'removeComprovanteResidencia')">Remover</button>
                          </div>
                          <div class="col-4"></div>
                          <div class="col-4">
                              <button type="button" class="btn bg-gradient-info w-100 mt-7 mb-0">salvar</button>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <!-- Canais de divulga&ccedil;&otilde;es -->
          <div class="col-12 tab-content" ng-class="{active: isselected(4)}">
              <div class="card mb-2">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12 col-md-6">
                              <h6>Cadastro dos Canais de divulga&ccedil;&atilde;o</h6>
                              <form id="channelform">
                                  <ul class="channel-list" id="channellist">
                                      <!-- Canais adicionados aparecer&atilde;o aqui -->
                                  </ul>
                                  <a class="btn bg-gradient-dark" onclick="addChannel()">adicionar Canal</a>
                                  <a class="btn bg-gradient-dark">salvar</a>
                              </form>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <footer class="footer pt-3  ">
              <div class="container-fluid">
                  <div class="row align-items-center justify-content-lg-between">
                      <div class="col-lg-6 mb-lg-0 mb-4">
                          <div class="copyright text-center text-sm text-muted text-lg-start">
                              &copy;
                              <script>
                                  document.write(new Date().getFullYear())
                              </script>,

                              <a href="" class="font-weight-bold" target="_blank">planeta Nordeste</a>
                              Todos os direitos reservados.
                          </div>
                      </div>
                      <!-- <div class="col-lg-6">
    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
      <li class="nav-item">
        <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
      </li>
      <li class="nav-item">
        <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">about us</a>
      </li>
      <li class="nav-item">
        <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">blog</a>
      </li>
      <li class="nav-item">
        <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">license</a>
      </li>
    </ul>
  </div> -->
                  </div>
              </div>
          </footer>
      </div>
  </div>
</main>