<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid pe-0">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="pages/dashboard.html">
              <img src="/assets/img/planeta.png" style="width: 40%; height: 40%;">
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
                <li class="nav-item">
                  <a class="nav-link me-2" routerLink="/register">
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Registrar
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link me-2" href="pages/sign-in.html">
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    Login
                  </a>
                </li> -->
              </ul>
              <li class="nav-item d-flex align-items-center">
                <a class="btn btn-round btn-sm mb-0 btn-outline-primary me-2" routerLink="/register">Registrar</a>
              </li>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  <a href="" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">Área Clientes (em breve)</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                 <div class="alert alert-danger" role="alert"  *ngIf="invalidCredentials">
                    <strong>Credenciais inválidas!</strong> Por favor, tente novamente.
                </div> 
              <img src="/assets/img/planeta.png">
              <div style="height: 41.250px;">
                <h3 class="font-weight-bolder text-info text-gradient" style="margin: 0;" id="typingEffect"></h3>
              </div>
                  <p class="mb-0">Digite as suas credenciais para fazer login</p>
                </div>
                <div class="card-body">
                  <form role="form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                    <label>E-mail</label>
                    <div class="mb-3">
                      <input type="email" class="form-control" placeholder="E-mail" id="usuario" ng-model="username" aria-label="Email" formControlName="email" required>
                    </div>
                    <label>Senha</label>
                    <div class="input-group mb-3">
                      <div class="input-group input-group-alternative mb-4">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Senha" aria-label="Password" formControlName="password"  required>
                        <span style="position: absolute; margin-left: 68%; margin-top: 0;" class="btn mb-0" (click)="togglePasswordVisibility()" id="button-addon2">{{ showPassword ? 'Ocultar' : 'Mostrar' }}</span>
                      </div>
                    </div>
                    <div class="text-center">
                      <a><button type="submit" id="entrar" class="btn bg-gradient-info w-100 mt-4 mb-0">Entrar</button></a>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Esqueceu a sua senha?
                    <a href="javascript:;" class="text-info text-gradient font-weight-bold">Recupere aqui!</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('assets/img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>